/*your custom CSS here*/

body{
  padding: 80px;
}

.heading{
  position: fixed;
  width:100%;
  top:0;
  left:0;
  padding: 0px 20px;
}

.box{
  padding: 15px;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.box h2{
  font-size: 18px;
}

.box a.read-more {
  display:block;
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

p{
  font-size: 12px;
}
